/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

/*Fonts declarations*/
@font-face { 
    font-family: 'Myriad_Pro_Semibold';
    src: url('../assets/fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../assets/fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../assets/fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad_Pro_Bold';
    src: url('../assets/fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/MyriadPro-Bold.woff') format('woff'),
        url('../assets/fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad_Pro_Regular';
    src: url('../assets/fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../assets/fonts/MyriadPro-Regular.woff') format('woff'),
        url('../assets/fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Animations */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Global Styles*/
html,
body {
    width: 100%;
    height: 100%;
    font-family: $regular-font;
    position: relative;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

figure,blockquote {
    margin: 0;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
}