.menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    z-index: 1;
    height: 80px; 
    &.blue-bg {
        background-color: rgba(26, 59, 132, 0.8);
        width: auto;
        &-home {
            background-color: transparent;
            position: absolute;
        }
        &--extend {
            width: 100%;
        }
    }
    &__li {
        margin-right: 20px;
        a {
            color: #fff;
            font-family: $semibold-font;
            font-size: 18px;
            transition: all ease-in-out .2s;
            &:hover {
                color: $secondary-color;
            }
        }
    }
    .burger {
        display: none;
    }
    .menu-menu-principal-container {
        padding: 0 25px;
    }
}

.logo {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
    &--white-angle {
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            right: -5px;
            border-top: 240px solid rgba(255, 255, 255, 0.7);
            border-left: 240px solid transparent;
            width: 0;
        }
        &-no-opacity {
            &:before {
                content: "";
                position: absolute;
                top: -10px;
                right: -10px;
                border-top: 240px solid rgba(255, 255, 255, 1);
                border-left: 240px solid transparent;
                width: 0;
            }
        }
    }
    &__img {
        width: 140px;
        position: relative;
    }
}

@media (max-width: $breakpoint-mobile) {
    .menu {
        height: auto;
        padding: 0;
        flex-direction: column;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        align-items: flex-start;
        &.blue-bg {
            height: 60px;
            &-home {
                background-color: rgba(26, 59, 132, 0.8);
                position: relative;
            }
            &.active {
                height: auto;
            }
        }
        &__li {
            margin-right: 0px;
            padding-left: 20px;
            padding-bottom: 10px;
            &:first-child {
                padding-top: 10px;
            }
        }
        .menu-menu-principal-container {
            display: none;
            padding: 15px 0px 20px 0px;
            width: 100%;
            transition: all ease-in-out .2s;
            padding: 0px;
            &.active {
                display: block;
            }
        }
        .burger {
            $width: 20px;
            $thickness: 3px;
            position: relative;
            border: 0;
            background: none;
            outline: 0;
            display: block;
            padding: 0;
            cursor: pointer;
            border-bottom: $thickness solid white;
            width: $width;
            margin: 20px 0 0 20px;
        
            transition: border-bottom 1s ease-in-out;
            -webkit-transition: border-bottom 1s ease-in-out; 
        
            // Fix for extra space in Firefox
            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }	 
        
            &:before {
                content: "";
                display: block;
                border-bottom: $thickness solid white;
                width: 100%;
                margin-bottom: 5px;
                transition: transform 0.5s ease-in-out;    
                -webkit-transition: -webkit-transform 0.5s ease-in-out;        
            }
        
            &:after {
                content: "";
                display: block;
                border-bottom: $thickness solid white;
                width: 100%;
                margin-bottom: 5px;
                transition: transform 0.5s ease-in-out;
                -webkit-transition: -webkit-transform 0.5s ease-in-out;
            }
        
            &.open {
                border-bottom: $thickness solid transparent;
                transition: border-bottom 0.8s ease-in-out;
                -webkit-transition: border-bottom 0.8s ease-in-out;
        
                &:before {
                    transform: rotate(-405deg) translateY(1px) translateX(-3px);
                    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
                    transition: transform 0.5s ease-in-out;
                    -webkit-transition: -webkit-transform 0.5s ease-in-out;
                }
        
                &:after {
                    transform: rotate(405deg) translateY(-4px) translateX(-5px); 
                    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
                    transition: transform 0.5s ease-in-out;
                    -webkit-transition: -webkit-transform 0.5s ease-in-out;
                }
            }
        }
    }
    .logo {
        &--white-angle {
            &:before {
                border-top: 130px solid rgba(255, 255, 255, 0.7);
                border-left: 130px solid transparent;
            }
            &-no-opacity {
                &:before {
                    border-top: 130px solid rgba(255, 255, 255, 1);
                    border-left: 130px solid transparent;

                }
            }
        }
        &__img {
            width: 70px;
        }
    }
}