/* Fonts */
$regular-font: 'Myriad_Pro_Regular';
$semibold-font: 'Myriad_Pro_Semibold';
$bold-font: 'Myriad_Pro_Bold';

/* Colors */
$primary-color: #1A3B84; // Dark blue
$secondary-color: #DD4A4A; // Kinda Pink
$third-color: #263C9B;
$primary-gray-color: #353535; // Dark Grey
$secondary-gray-color: #9F9FA0; // Medium Gray
$third-gray-color: #D1D1D1; // Light Grey

/* Dimensions */
$header-img-high: 700px;

/* Breakpoint Media Query */
$breakpoint-mobile: 812px;